 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 

.main-div{
    height: 100vh;
    width: 100vw;
    

}

.div-1{
    height: 100vh;
    width: 100vw;
    background-image:
    linear-gradient(290deg , rgba(35, 24, 24, 0.9) 50%, transparent 50%),
    url("https://img.freepik.com/free-photo/scenic-sunrise-high-mountains-alpes-generative-ai_191095-494.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     
}

.logo{
    font-weight: 400;
    color: white;
    padding-left: 10px;
     
}

#p{
    padding-left: 23px;
    color: white;
    font-size: small;

}

.navbar{
     width: 100%;
     height: 20%;
     margin: 0 auto;
     /* background-color: aqua; */
     /* display: flex;
     align-items: end;
     justify-content: space-between; */
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    list-style-type: none;
    float: left;
    margin: 20px 20px;
    
}

.navbar li a{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: rgb(244, 240, 240);
    font-weight: 300;
}

.navbar li:hover{
    background-color: pink;
    border-radius: 9px;

}

.container{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: row;
}

.box{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    margin: 10px 5px 32px 13px;
     

}

